<h1>Hello world!</h1>

<!--<div class="progress-description">-->
  <!--SVM-->
<!--</div>-->

<!--<div class="progress progress-label-top-right">-->
  <!--<div class="progress-bar" ng-click="svmBarClicked()">-->
    <!--<div class="subbar" style="width: {{svm_reserved_perc}}%; background-color: #f39d3c; opacity: 0.4;" title="{{svm_reserved_perc}}%"></div>-->
    <!--<div class="subbar" style="width: {{svm_used_perc}}%; background-color:#ec7a08;  opacity: 0.4;" title="{{svm_used_perc}}%"></div>-->
    <!--<span><strong>{{svm_reserved}} from {{svm_total}}</strong> Used</span>-->
  <!--</div>-->
<!--</div>-->