<div ng-controller="ResourceCtrl">

  <div class="progress-description">
    SVM
  </div>
  <div class="progress progress-label-top-right">
    <div class="progress-bar" ng-click="svmBarClicked()">
      <div class="subbar" style="width: {{svm_reserved_perc}}%; background-color: #f39d3c;opacity: 0.4;" title="{{svm_reserved_perc}}%"></div>
      <div class="subbar" style="width: {{svm_used_perc}}%; background-color:#ec7a08;  opacity: 0.4;" title="{{svm_used_perc}}%"></div>
      <span><strong>{{svm_reserved}} from {{svm_total}}</strong> Used</span>
    </div>
  </div>


  <div class="progress-description">
    Storage
  </div>
  <div class="progress progress-label-top-right">
    <div class="progress-bar">
      <div class="subbar" style="width: {{storage_reserved_perc}}%; background-color: #ace12e;opacity: 0.4;" title="{{storage_reserved_perc}}%"></div>
      <div class="subbar" style="width: {{storage_used_perc}}%; background-color:#92d400;  opacity: 0.4;" title="{{storage_used_perc}}%"></div>
      <span><strong>{{storage_reserved}} from {{storage_total}} GB</strong> Used</span>
    </div>
  </div>


  <div class="progress-description">
    Hours
  </div>
  <div class="progress progress-label-top-right">
    <div class="progress-bar">
      <div class="subbar" style="width: {{hours_reserved_perc}}%; background-color: #3a9ca6;opacity: 0.4;" title="{{hours_reserved_perc}}%"></div>
      <div class="subbar" style="width: {{hours_used_perc}}%; background-color: #007a87;  opacity: 0.4;" title="{{hours_used_perc}}%"></div>
      <span><strong>{{hours_reserved}} from {{hours_total}} K</strong> Used</span>
    </div>
  </div>
</div>

