<div ng-controller="ResourceCtrl">
  <div class="cards-pf">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">General resources info</h2>
            </div>
            <div class="card-pf-body">
              <div class="progress-description">
                SVM
              </div>
              <!--ng-style="(svm_used_perc > svm_reserved_perc) && {'background-color': '#3b1f00', 'opacity': '0.6' }"-->
              <div class="progress progress-label-top-right">
                <div class="progress-bar" ng-click="svmBarClicked()">
                  <div class="subbar" id="sb_1" style="width: {{svm_reserved_perc}}%; opacity: 0.4;" ng-style="{'background-color': getColor(svm_reserved_perc, svm_used_perc)}" title="{{svm_reserved_perc}}%"></div>
                  <div class="subbar" style="width: {{svm_used_perc}}%; opacity: 0.4;" ng-style="{'background-color': getColor(svm_reserved_perc, svm_used_perc)}" title="{{svm_used_perc}}%"></div>
                  <span><strong>{{svm_reserved}} from {{svm_total}}</strong> Used</span>
                </div>
              </div>


              <!--<div class="progress-description">-->
              <!--Storage-->
              <!--</div>-->
              <!--<div class="progress progress-label-top-right">-->
              <!--<div class="progress-bar">-->
              <!--<div class="subbar" style="width: {{storage_reserved_perc}}%; opacity: 0.4;" ng-style="{'background-color': getColor(storage_reserved_perc, storage_used_perc)}" title="{{storage_reserved_perc}}%"></div>-->
              <!--<div class="subbar" style="width: {{storage_used_perc}}%; opacity: 0.4;" ng-style="{'background-color': getColor(storage_reserved_perc, storage_used_perc)}" title="{{storage_used_perc}}%"></div>-->
              <!--<span><strong>{{storage_reserved}} from {{storage_total}} GB</strong> Used</span>-->
              <!--</div>-->
              <!--</div>-->


              <!--<div class="progress-description">-->
              <!--Hours-->
              <!--</div>-->
              <!--<div class="progress progress-label-top-right">-->
              <!--<div class="progress-bar">-->
              <!--<div class="subbar" style="width: {{hours_reserved_perc}}%; opacity: 0.4;" ng-style="{'background-color': getColor(hours_reserved_perc, hours_used_perc)}" title="{{hours_reserved_perc}}%"></div>-->
              <!--<div class="subbar" style="width: {{hours_used_perc}}%; opacity: 0.4;" ng-style="{'background-color': getColor(hours_reserved_perc, hours_used_perc)}" title="{{hours_used_perc}}%"></div>-->
              <!--<span><strong>{{hours_reserved}} from {{hours_total}} K</strong> Used</span>-->
              <!--</div>-->
              <!--</div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
