<div class="card-pf card-bottom-offset" style="margin-bottom:40px">
    <div class="card-pf-heading">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="card-pf-title">{{title}}</h1>
            </div>
            <div class="col-xs-6 text-right">
                          <span class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification "><small class="h2"><span class="small glyphicon glyphicon-usd"></span></small><span class="h3">{{price.current}}</span></span>
                            <span class="card-pf-aggregate-status-notification"><small class="h2"><span class="small glyphicon glyphicon-usd"></span></small><span class="h3">{{price.next}}</span></span>
                          </span>
            </div>
        </div>

    </div>
    <div class="card-pf-body">
        <div resource-progress data="progressBarsData[0]" icon="pficon pficon-image"></div>
        <div resource-progress data="progressBarsData[1]" icon="fa fa-server"></div>
        <div resource-progress data="progressBarsData[2]" icon="fa fa-clock-o"></div>
    </div>
</div>