<div resource-breadcrumb list="breadcrumbList"></div>
<div class="cards-pf">
    <div class="container-fluid container-cards-pf">

        <div ng-repeat="elem in data" class="row row-cards-pf" ng-if="$index % 2 == 0">
            <div ng-if="$last==$first" class="col-xs-6 col-md-offset-3">
                <div resources-card node="data[$index]" next-url="nextUrl(node)"></div>
            </div>
            <div ng-if="!($last==$first)">
                <div class="col-xs-6">
                    <div resources-card node="data[$index]" next-url="nextUrl(node)"></div>
                </div>
                <div ng-if="!$last">
                    <div class="col-xs-6">
                        <div resources-card node="data[$index+1]" next-url="nextUrl(node)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>