<div class="card-pf card-bottom-offset" style="margin-bottom:40px">
    <div class="card-pf-heading">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="card-pf-title">{{location.name}}</h1>
            </div>
            <div class="col-xs-6 text-right">
                          <span class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification "><small class="h2"><span class="small glyphicon glyphicon-usd"></span></small><span class="h3">{{location.price.current}}</span></span>
                            <span class="card-pf-aggregate-status-notification"><small class="h2"><span class="small glyphicon glyphicon-usd"></span></small><span class="h3">{{location.price.next}}</span></span>
                          </span>
            </div>
        </div>

    </div>
    <div class="card-pf-body">

        <div class="progress-description">
            <button class="btn btn-default" data-toggle="modal" data-target="#myModal">SVM</button>

        </div>
        <div class="progress progress-label-top-right">
            <div class="progress-bar" ng-click="svmBarClicked()">
                <div class="subbar" style="width: {{location.svm.reserved_perc}}%; background-color: #f39d3c; opacity: 0.4;" title="{{locations[$index].svm.reserved_perc}}%"></div>
                <div class="subbar" style="width: {{location.svm.used_perc}}%; background-color:#ec7a08;  opacity: 0.4;" title="{{locations[$index].svm.used_perc}}%"></div>
                <span><strong>{{location.svm.reserved}} from {{location.svm.total}}</strong> Used</span>
            </div>
        </div>


        <div class="progress-description">
            Storage
        </div>
        <div class="progress progress-label-top-right">
            <div class="progress-bar">
                <div class="subbar" style="width: {{location.storage.reserved_perc}}%; background-color: #ace12e;opacity: 0.4;"  title="{{location.storage.reserved_perc}}%"></div>
                <div class="subbar" style="width: {{location.storage.used_perc}}%; background-color:#92d400;  opacity: 0.4;" title="{{location.storage.used_perc}}%"></div>
                <span><strong>{{location.storage.reserved}} from {{location.storage.total}} GB</strong> Used</span>
            </div>
        </div>


        <div class="progress-description">
            Hours
        </div>
        <div class="progress progress-label-top-right">
            <div class="progress-bar">
                <div class="subbar" style="width: {{location.hours.reserved_perc}}%; background-color: #3a9ca6;opacity: 0.4;" title="{{location.hours.reserved_perc}}%"></div>
                <div class="subbar" style="width: {{location.hours.used_perc}}%; background-color: #007a87;  opacity: 0.4;" title="{{location.hours.used_perc}}%"></div>
                <span><strong>{{location.hours.reserved}} from {{location.hours.total}} K</strong> Used</span>
            </div>
        </div>

    </div>
</div>