<div class="cards-pf">
    <div class="container-fluid container-cards-pf">

        <div ng-repeat="location in locations" class="row row-cards-pf" ng-if="$index % 2 == 0">
            <div class="col-xs-6">
                <div resources-card title="{{locations[$index].name}}" price="locations[$index].price" progress-bars-data="locations[$index].resources"></div>
            </div>
            <div ng-if="!$last">
                <div class="col-xs-6">
                <div resources-card title="{{locations[$index+1].name}}" price="locations[$index+1].price" progress-data="locations[$index+1].resources"></div></div>
            </div>
        </div>
    </div>
</div>