.subbar {
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.brd{
  border: solid #d1d1d1;
  border-width: thin;
  padding: 1px;
}

.card-bottom-offset{
  margin-bottom: 40px;
}


.table_td td {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 20%;
  text-align: center;
  white-space: normal;
}